.destination-button{
    background-color: #f57009;
    font-size: medium;
    border: none;
    border-radius: 24px;
    width: 25%;
    height: 40px;
    color: #eaeaea ;
}

.destination-button:hover {
background-color: orange;
}

.text-underline {
    text-decoration: underline;
    text-decoration-color: #f57009; 
}

.destination-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }